@using System.Diagnostics
@using System.Globalization
@model ICollection<Session>

@{
    ViewBag.Title = "Sessie kiezen";
}

<link href="~/css/manageSessions.css" rel="stylesheet">

<section>
    <div class="panel-group sessions-panel" id="accordion" role="tablist" aria-multiselectable="true">

        @if (!Model.Any() || Model == null)
        {
            <p class="text-muted text-center">U heeft geen sessies om te beheren...</p>
        }

        @foreach (var s in Model)
        {
            <div class="panel panel-default">

                <!--Panel Heading-->
                <div class="panel-heading" role="tab" id="@("heading" + s.Id)">
                    <div>
                        <!--Date-->
                        <span class="session-date">@s.StartDateTime.ToString("ddd d MMM")</span>
                        <!--Time-->
                        <span class="session-time">@s.StartDateTime.ToString("HH:mm")</span>
                        <!--Title-->
                        <span class="session-title">@s.Title</span>
                    </div>

                    <div class="right">

                        <!--Manage Attendances-->
                        <button class="session-state-change btn btn-outline-warning">
                            <a asp-action="SessionAttendances" asp-route-id="@s.Id">Aanwezigheden beheren</a>
                        </button>
                    
                    </div>
                </div>
            </div>
        }
    </div>
</section>