@using System.Diagnostics
@using System.Globalization
@model Session

@{
    Session s = Model;
    ViewBag.Title = "Aanwezigen beheren";

    var notAttended = s.SessionRegistrees.Where(sr => !sr.IsAlsoAttendee).OrderBy(sr => sr.Member.Username);
    var attended = s.SessionRegistrees.Where(sr => sr.IsAlsoAttendee).OrderBy(sr => sr.Member.Username);
}

<link href="~/css/attendances.css" rel="stylesheet">
<section>
    @if (!s.SessionRegistrees.Any() || s.SessionRegistrees == null)
    {
        <p class="text-muted text-center">Er is niemand ingeschreven voor deze sessie...</p>
    }
    else
    {
        <div class="row">

            <div id="registree-list" class="col-12 col-md-6">
                <h3 class="d-block mb-4">Ingeschrevenen</h3>
                @if (!notAttended.Any())
                {
                    @if (attended.Any())
                    {
                        <p class="text-muted text-center">Alle ingeschrevenen zijn gemarkeerd als aanwezig!</p>
                    }

                }

                @foreach (var sr in notAttended)
                {
                    <div>
                        <div class="card mb-2">
                            <div class="card-body">
                                <header class="card-title float-left">
                                    @await Component.InvokeAsync("ProfilePic", new { width = 20, height = 20, rounded = true, member = sr.Member, cssClass="d-inline align-middle mr-4" })
                                    <div class="d-inline-block align-middle">
                                        <h5>@sr.Member.GetFullName()</h5>
                                        <small class="text-secondary">@sr.Member.Username</small>
                                    </div>
                                </header>

                                <form class="float-right align-middle" asp-controller="Admin" asp-action="AttendUser" asp-route-sessionId="@Model.Id" asp-route-memberId="@sr.MemberId" method="post">
                                    <button type="submit" class="btn btn-outline-success"><i class="fas fa-check"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>


            <div id="attendee-list" class="mt-5 mt-md-0 col-12 col-md-6">
                <h3 class=" d-block mb-4">Aanwezigen</h3>
                @foreach (var sr in attended)
                {
                    <div>
                        <div class="card mb-2">
                            <div class="card-body">
                                <header class="card-title float-left">
                                    @await Component.InvokeAsync("ProfilePic", new { width = 20, height = 20, rounded = true, member = sr.Member, cssClass = "d-inline align-middle mr-4" })
                                    <div class="d-inline-block align-middle">
                                        <h5>@sr.Member.GetFullName()</h5>
                                        <small class="text-secondary">@sr.Member.Username</small>
                                    </div>
                                </header>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    }
    </section>