@using System.Diagnostics
@using System.Globalization
@model ICollection<Session>

@{
    ViewBag.Title = "Sessies Beheren";
    CultureInfo.CurrentCulture = new CultureInfo("nl-BE");
}

<link href="~/css/manageSessions.css" rel="stylesheet">

<section>
    <div class="panel-group sessions-panel" id="accordion" role="tablist" aria-multiselectable="true">
        
        @if (!Model.Any() || Model == null)
        {
            <p class="text-muted text-center">U heeft geen sessies om te beheren...</p>
        }

        @foreach (var s in Model)
        {
            <div class="panel panel-default">

                <!--Panel Heading-->
                <div class="panel-heading" role="tab" id="@("heading" + s.Id)">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="@("#collapse" + s.Id)" aria-expanded="false" aria-controls="@("collapse" + s.Id)">
                        <!--Date-->
                        <span class="session-date">@s.StartDateTime.ToString("ddd d MMM")</span>
                        <!--Time-->
                        <span class="session-time">@s.StartDateTime.ToString("hh:mm")</span>
                        <!--Title-->
                        <span class="session-title">@s.Title</span>
                        <!--State-->
                        <span class="badge badge-pill session-state @("state" + s.SessionState.ToInt())">@s.SessionState.ToString()</span>
                    </a>

                    <div class="right">

                        @{
                            string sessionStateColor = s.SessionState.ToInt() switch { 0 => "success", 1 => "warning", 2 => "danger", _ => "primary" };
                            string sessionStateVerb = s.SessionState.ToInt() switch { 0 => "Openen", 1 => "Sluiten", 2 => "Afsluiten", _ => "" };

                        }
                        <!--State Change Button-->
                        <button onclick="$('#confirmation-modal-@s.Id').modal()" class="session-state-change btn btn-outline-@sessionStateColor">@sessionStateVerb</button>

                        <!--Chevron-->
                        <a class="collapse-arrow collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="@("#collapse" + s.Id)" aria-expanded="false" aria-controls="@("collapse" + s.Id)">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>


                <!--Panel Body-->
                <div id="@("collapse" + s.Id)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@("heading" + s.Id)">
                    <div class="panel-body">
                        @if (!string.IsNullOrEmpty(s.Description))
                        {
                            <!--Description-->
                            <div class="session-description"><b>Beschrijving:</b><p>@Html.Raw(s.Description)</p></div>
                        }
                    <div class="session-practical-info">
                        @if (!string.IsNullOrEmpty(s.Location))
                        {
                            <!--Location-->
                            <span><i class="fas fa-map-marker-alt"></i>@Html.Raw(s.Location)</span>
                        }
                        <!--Organizer-->
                        <span><i class="fas fa-user"></i>@Html.Raw(s.Member.Firstname) @Html.Raw(s.Member.Lastname)</span>

                        

                        @{
                            string extraInfoText = s.SessionState switch {
                                CreatedSessionState css => $"{s.Capacity} inschrijvingsplaatsen",
                                OpenSessionState oss => $"{s.NumberOfRegistrees}/{s.Capacity} inschrijvingen",
                                ClosedSessionState css => $"{s.NumberOfAttendees}/{s.NumberOfRegistrees} ingeschrevenen aanwezig",
                                _ => ""
                            };
                        }
                        <span> <i class="fas fa-pencil-alt"></i> @extraInfoText </span>
                    </div>
                    </div>
                </div>
            </div>

            <!--Confirmation modal-->
            <div id="confirmation-modal-@s.Id" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Waarschuwing</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Bent u zeker dat u de sessie <em>"@s.Title.Trim()"</em> wilt @sessionStateVerb.ToLower()?</p>
                        </div>
                        <div class="modal-footer">
                            <form asp-action="ChangeSessionState" asp-route-id="@s.Id" method="post">
                                <!--State Change Button-->
                                <button type="submit" class="btn btn-outline-@sessionStateColor">@sessionStateVerb</button>
                            </form>
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</section>