@model ICollection<Session>

@{
    ViewBag.Title = "Sessies Beheren";
}

<div id="adminPanel">
    <table>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.StartDateTime.Day @s.StartDateTime.ToString("MMM") @s.StartDateTime.ToString("ddd")</td>
                <td>@s.StartDateTime.Hour:@s.StartDateTime.ToString("mm")-@s.EndDateTime.Hour:@s.EndDateTime.ToString("mm")</td>
                <td>@Html.Raw(s.Title)</td>
                <td>@Html.Raw(s.Location)</td>
                <td>@Html.Raw(s.SessionState)</td>
                <td><button type="button">Openzetten</button></td>
            </tr>
        }
    </table>
</div>