@{
    ViewData["Title"] = "Inloggen";
}
@model G09projectenII.Models.ViewModels.LoginViewModel

<link href="~/css/site.css" rel="stylesheet">

<h2>Inloggen</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post)) {
    <div class="form-group">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Username, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Inloggen</button>
        @Html.ValidationMessage("failed-login", null, new { @class = "text-danger" })
    </div>
}
