@model ICollection<Session>

@{
    ViewBag.Title = "Index";
}

<script src="~/lib/fullcalendar/core/main.js"></script>
<script src="~/lib/fullcalendar/daygrid/main.js"></script>
<script src="~/lib/fullcalendar/core/locales/nl.js"></script>

<style>

    .fc-day-grid-event .fc-content {
        white-space: normal;
    }
</style>

<script>
        document.addEventListener('DOMContentLoaded', function () {
            let calendarEl = document.getElementById('calendar');

            let calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid'],
                locale: "nl"
            });

            let starttime, endtime;
            @foreach (var s in Model)
            {
                <text>
                    starttime = new Date(@s.Starttime.Year,
                        @s.Starttime.Month,
                        @s.Starttime.Day.ToString(),
                        @s.Starttime.Hour,
                        @s.Starttime.Minute);

                    endtime = new Date(@s.Endtime.Year,
                        @s.Endtime.Month,
                        @s.Endtime.Day.ToString(),
                        @s.Endtime.Hour,
                        @s.Endtime.Minute);

            calendar.addEvent({
                title: "@Html.Raw(s.Title)",
                start: starttime,
                end: endtime,
                allDay: false
            });
                </text>
            }

            calendar.render();
        });
</script>

<div id="calendar"></div>
