@model ICollection<Session>

@{
    ViewBag.Title = "Index";
    Session selectedSession = null;
}

<script src="~/lib/fullcalendar/core/main.js"></script>
<script src="~/lib/fullcalendar/daygrid/main.js"></script>
<script src="~/lib/fullcalendar/core/locales/nl.js"></script>

<style>

    .fc-day-grid-event .fc-content {
        white-space: normal;
    }
</style>

<script>
        document.addEventListener('DOMContentLoaded', function () {
            let calendarEl = document.getElementById('calendar');

            let calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid'],
                locale: "nl"
                eventClick(info) {
                    $("#sessionId").text(info.event.title);
                    console.log(info)
                    $("#sessionModal").modal();
                }
            });

            let starttime, endtime;
            @foreach (var s in Model)
            {
                <text>
                    starttime = new Date(@s.Starttime.Year,
                        @s.Starttime.Month,
                        @s.Starttime.Day.ToString(),
                        @s.Starttime.Hour,
                        @s.Starttime.Minute);

                    endtime = new Date(@s.Endtime.Year,
                        @s.Endtime.Month,
                        @s.Endtime.Day.ToString(),
                        @s.Endtime.Hour,
                        @s.Endtime.Minute);



                    calendar.addEvent({
                        title: '@s.Title',
                        start: starttime,
                        end: endtime,
                        allDay: false,
                        id: '@s.Id',
                    });
                    
                    

                </text>
            }
            calendar.render();
        });
    </script>

<!-- Modal -->
<div class="modal fade" id="sessionModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="sessionId"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>session info</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div id="calendar"></div>
