@model ICollection<Session>

@{
    ViewBag.Title = "Kalender";
}

<script src="~/lib/fullcalendar/core/main.js"></script>
<script src="~/lib/fullcalendar/daygrid/main.js"></script>
<script src="~/lib/fullcalendar/timegrid/main.js"></script>
<script src="~/lib/fullcalendar/core/locales/nl.js"></script>
<script src="~/lib/moment/moment-with-locales.min.js"></script>


<link href="~/lib/fullcalendar/core/main.css" rel="stylesheet"/>
<link href="~/lib/fullcalendar/daygrid/main.css" rel="stylesheet"/>
<link href="~/lib/fullcalendar/timegrid/main.css" rel="stylesheet"/>
<link href="~/css/calendar.css" rel="stylesheet">


<script>
        document.addEventListener('DOMContentLoaded', function () {
            let calendarEl = document.getElementById('calendar');

            let calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid', 'timeGrid'],
                locale: "nl",
                fixedWeekCount: false,
                eventClick(info) {
                    $.ajax({
                        type: "GET",
                        url: "/Calendar/Test?id=" + info.event.id,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: showSessionModal,
                        error: function() { alert('Server Error'); }
                    });
                },
                eventTimeFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                    meridiem: false
                },
                defaultView: 'dayGridMonth'
            });

            let starttime, endtime;
            @foreach (var s in Model)
            {
                <text>
                    starttime = new Date(@s.StartDateTime.Year,
                        @s.StartDateTime.Month-1, //stupid js months -_-
                        @s.StartDateTime.Day.ToString(),
                        @s.StartDateTime.Hour,
                        @s.StartDateTime.Minute);

                    endtime = new Date(@s.EndDateTime.Year,
                        @s.EndDateTime.Month-1, //stupid js months -_-
                        @s.EndDateTime.Day.ToString(),
                        @s.EndDateTime.Hour,
                        @s.EndDateTime.Minute);



                    calendar.addEvent({
                        title: "@Html.Raw(s.Title)",
                        start: starttime,
                        end: endtime,
                        allDay: false,
                        id: '@s.Id',
                    });



                </text>
            }
            calendar.render();

        });

        function showSessionModal(session) {
            console.log(session);
            // title
            $("div.modal-header>.title").text(session.title);
            
            // practical info
            moment.locale('nl-be');
            let startDateTime = moment(session['startDateTime']);
            let endDateTime = moment(session['endDateTime']);
            
            $("div.modal-date>.info")
            .text(startDateTime.format('D MMMM'));
            
            $("div.modal-time>.info")
            .text(`${startDateTime.format('h:mm')} - ${endDateTime.format('h:mm')}`);
            
            $("div.modal-location>.info")
            .text(session['location']);
            
            // description
            if(session.description) {
                $("div.modal-description>.description").text(session.description);
                $("div.modal-description>.empty-description").empty();
            } else {
                $("div.modal-description>.empty-description").text("Geen beschrijving beschikbaar.");
                $("div.modal-description>.description").empty();
            }
            
            // announcement
            $("img.profile-picture").attr("src","https://cdn.britannica.com/s:800x450,c:crop/43/172743-138-545C299D/overview-Barack-Obama.jpg");
            
            // show modal
            $("#sessionModal").modal();
        }
</script>


<!-- Modal -->
<div class="modal fade" id="sessionModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <span class="title"></span>
                <span class="close-icon">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </span>
            </div>
            
            <div class="modal-body">
                <div class="modal-practical-info">
                    <div class="modal-date row">
                        <span class="icon"><i class="far fa-calendar-alt"></i></span>
                        <span class="info"></span>
                    </div>
                    <div class="modal-time row">
                        <span class="icon"><i class="far fa-clock"></i></span>
                        <span class="info"></span>
                    </div>
                    <div class="modal-location row">
                        <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                        <span class="info"></span>
                    </div>
                </div>
                <div class="modal-description">
                    <span class="description"></span>
                    <span class="empty-description"></span>
                </div>
                <hr class="solid">
                <div class="modal-announcement">
                    <h1>Meest recente aankondiging</h1>
                    <div class="media">
                      <img src="" class="profile-picture" alt="">
                      <div class="media-body">
                          <div class="body-left">
                              <div class="organiser">Sam Brysbaert</div>
                              <div class="organiser-subtitle">organizator</div>
                              <div class="announcement-text">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                              </div>
                          </div>
                          <div class="body-right">
                              <div class="announcement-date">01/01/01</div>
                          </div> 
                      </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div id="calendar"></div>