@model ICollection<Session>

@{
    ViewBag.Title = "Kalender";
}

<script src="~/lib/fullcalendar/core/main.js"></script>
<script src="~/lib/fullcalendar/daygrid/main.js"></script>
<script src="~/lib/fullcalendar/timegrid/main.js"></script>
<script src="~/lib/fullcalendar/core/locales/nl.js"></script>
<script src="~/lib/moment/moment-with-locales.min.js"></script>
<script src="~/js/calendar.js"></script>

<link href="~/lib/fullcalendar/core/main.css" rel="stylesheet" />
<link href="~/lib/fullcalendar/daygrid/main.css" rel="stylesheet" />
<link href="~/lib/fullcalendar/timegrid/main.css" rel="stylesheet" />
<link href="~/css/calendar.css" rel="stylesheet">


<!-- Calendar -->
<div id="calendar"></div>

<!--Legend For Mobile-->
<div id="calendar-legend" class="d-block d-md-none text-center mt-3">
    <span class="legend-item"><span class="text-primary">&bull;</span>Aangemaakt</span>
    <span class="legend-item"><span class="text-success">&bull;</span>Open</span>
    <span class="legend-item"><span class="text-warning">&bull;</span>Gesloten</span>
    <span class="legend-item"><span class="text-danger">&bull;</span>Afgelopen</span>
</div>

<!-- Modal -->
<div class="modal fade" id="sessionModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <span class="title"></span>
                <span class="close-icon">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </span>
            </div>
            
            <div class="modal-body">
                <div class="modal-practical-info row">
                    <div class="modal-date text-center">
                        <span class="icon"><i class="far fa-calendar-alt"></i></span>
                        <span class="info"></span>
                    </div>
                    <div class="modal-time text-center">
                        <span class="icon"><i class="far fa-clock"></i></span>
                        <span class="info"></span>
                    </div>
                    <div class="modal-location text-center">
                        <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                        <span class="info"></span>
                    </div>
                    <div class="modal-speaker text-center">
                        <span class="icon"><i class="fas fa-microphone-alt"></i></span>
                        <span class="info"></span>
                    </div>
                </div>
                <div class="modal-description">
                    <span class="description"></span>
                    <span class="empty-description"></span>
                </div>
                <div class="modal-extra-info">
                    <div class="modal-organiser">
                        <span class="icon"><i class="fas fa-user"></i></span>
                        <span class="info"></span>
                    </div>

                </div>
                <div class="modal-announcement">
                    <hr class="solid">
                    <h1>Meest recente aankondiging</h1>
                    <div class="media">
                        <img src="" class="profile-picture" alt="">
                        <div class="media-body">
                            <div class="body-left">
                                <div class="organiser"></div>
                                <div class="organiser-subtitle">organizator</div>
                                <div class="announcement-text"></div>
                            </div>
                            <div class="body-right">
                                <div class="announcement-date"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="register">
                    <button type="button" class="btn btn-primary"></button>
                    <span class="session-free-spaces"></span>
                </div>
                <div class="attendance">
                    <span class="session-attendances"></span>
                    <span class="has-user-attended badge badge-attendance"></span>
                </div>
                <button type="button" class="btn btn-outline-secondary">Zie meer ...</button>
            </div>
        </div>
    </div>
</div>

<script>
    let firstEventLoaded = false;
    document.addEventListener('DOMContentLoaded', function () {
            let calendarEl = document.getElementById('calendar');

            let calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid', 'timeGrid'],
                locale: "nl",
                fixedWeekCount: false,
                eventClick(info) {
                    $.ajax({
                        type: "GET",
                        url: "/Calendar/GetSessionBy?id=" + info.event.id,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: showSessionModal,
                        error: function() { alert('Server Error'); }
                    });
                },
                datesRender(info) {
                    loadLegend();
                },
                eventTimeFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                    meridiem: false
                },
                defaultView: 'dayGridMonth'
            });

            let starttime, endtime;

            @foreach (var s in Model)
            {
                string eventColor = s.SessionState switch
                {
                    CreatedSessionState css => "#4049a9",
                    OpenSessionState oss => "#5cb85c",
                    ClosedSessionState css => "#f0ad4e",
                    FinishedSessionState fss => "#d9534f",
                    _ => "#4049a9"
                };

                <text>
                    starttime = new Date(@s.StartDateTime.Year,
                        @s.StartDateTime.Month-1, //stupid js months -_-
                        @s.StartDateTime.Day.ToString(),
                        @s.StartDateTime.Hour,
                        @s.StartDateTime.Minute);

                    endtime = new Date(@s.EndDateTime.Year,
                        @s.EndDateTime.Month-1, //stupid js months -_-
                        @s.EndDateTime.Day.ToString(),
                        @s.EndDateTime.Hour,
                        @s.EndDateTime.Minute);

                    calendar.addEvent({
                        title: "@Html.Raw(s.Title)",
                        start: starttime,
                        end: endtime,
                        allDay: false,
                        id: '@s.Id',
                        backgroundColor: '@eventColor',
                        borderColor: '@eventColor'
                    });
                </text>
            }

            calendar.render();
        });
</script>