@model ICollection<Session>

@{
    ViewBag.Title = "Index";
}

<script src="~/lib/fullcalendar/core/main.js"></script>
<script src="~/lib/fullcalendar/daygrid/main.js"></script>
<script src="~/lib/fullcalendar/timegrid/main.js"></script>
<script src="~/lib/fullcalendar/core/locales/nl.js"></script>
<script src="~/lib/moment/moment-with-locales.min.js"></script>


<link href="~/lib/fullcalendar/core/main.css" rel="stylesheet"/>
<link href="~/lib/fullcalendar/daygrid/main.css" rel="stylesheet"/>
<link href="~/lib/fullcalendar/timegrid/main.css" rel="stylesheet"/>
<link href="~/css/calendar.css" rel="stylesheet">


<script>
        document.addEventListener('DOMContentLoaded', function () {
            let calendarEl = document.getElementById('calendar');

            let calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid', 'timeGrid'],
                locale: "nl",
                fixedWeekCount: false,
                eventClick(info) {
                    $.ajax({
                        type: "GET",
                        url: "/Calendar/Test?id=" + info.event.id,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: showSessionModal,
                        error: function() { alert('A error'); }
                    });
                },
                eventTimeFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                    meridiem: false
                },
                defaultView: 'dayGridMonth'
            });

            let starttime, endtime;
            @foreach (var s in Model)
            {
                <text>
                    starttime = new Date(@s.StartDateTime.Year,
                        @s.StartDateTime.Month-1, //stupid js months -_-
                        @s.StartDateTime.Day.ToString(),
                        @s.StartDateTime.Hour,
                        @s.StartDateTime.Minute);

                    endtime = new Date(@s.EndDateTime.Year,
                        @s.EndDateTime.Month-1, //stupid js months -_-
                        @s.EndDateTime.Day.ToString(),
                        @s.EndDateTime.Hour,
                        @s.EndDateTime.Minute);



                    calendar.addEvent({
                        title: "@Html.Raw(s.Title)",
                        start: starttime,
                        end: endtime,
                        allDay: false,
                        id: '@s.Id',
                    });



                </text>
            }
            calendar.render();

        });

        function showSessionModal(session) {
            console.log(session);
            // title
            $("div.modal-header").text(session.title)
            
            // x button to close
            .append("<button type=\"button\" class=\"close\" data-dismiss=\"modal\">&times;</button>");
            
            // practical info
            moment.locale('nl-be');
            let startDateTime = moment(session['startDateTime']);
            let endDateTime = moment(session['endDateTime']);
            
            $("div.modal-date")
            .append(startDateTime.format('D MMMM'));
            
            $("div.modal-time")
            .append(`${startDateTime.format('h:mm')} - ${endDateTime.format('h:mm')}`);
            
            $("div.modal-location")
            .append(session['location']);
            
            // description
            $("div.modal-description").text(session.description);
            
            // show modal
            $("#sessionModal").modal();
        }
</script>


<!-- Modal -->
<div class="modal fade" id="sessionModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="modal-practical-info">
                    <div class="modal-date">
                        <i class="far fa-calendar-alt"></i>
                    </div>
                    <div class="modal-time">
                        <i class="far fa-clock"></i>
                    </div>
                    <div class="modal-location">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                </div>
                <div class="modal-description"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div id="calendar"></div>