@model ICollection<Session>

@{
    ViewBag.Title = "Index";
    Session selectedSession = null;
}

<script src="~/lib/fullcalendar/core/main.js"></script>
<script src="~/lib/fullcalendar/daygrid/main.js"></script>
<script src="~/lib/fullcalendar/core/locales/nl.js"></script>

<link href="~/css/calendar.css" rel="stylesheet">


<script>
        document.addEventListener('DOMContentLoaded', function () {
            let calendarEl = document.getElementById('calendar');

            let calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid'],
                locale: "nl",
                fixedWeekCount: false,
                eventClick(info) {
                    $.ajax({
                        type: "GET",
                        url: "/Calendar/Test?id=" + info.event.id,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: showSessionModal,
                        error: function() { alert('A error'); }
                    });
                },
                eventTimeFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                    meridiem: false
                },
                defaultView: 'dayGridMonth'
            });

            let starttime, endtime;
            @foreach (var s in Model)
            {
                <text>
                    starttime = new Date(@s.StartDateTime.Year,
                        @s.StartDateTime.Month-1, //stupid js months -_-
                        @s.StartDateTime.Day.ToString(),
                        @s.StartDateTime.Hour,
                        @s.StartDateTime.Minute);

                    endtime = new Date(@s.EndDateTime.Year,
                        @s.EndDateTime.Month-1, //stupid js months -_-
                        @s.EndDateTime.Day.ToString(),
                        @s.EndDateTime.Hour,
                        @s.EndDateTime.Minute);



                    calendar.addEvent({
                        title: "@Html.Raw(s.Title)",
                        start: starttime,
                        end: endtime,
                        allDay: false,
                        id: '@s.Id',
                    });
                    
                    

                </text>
            }
            calendar.render();
        });
        
        function showSessionModal(session) {
            $("div.modal-header").text(session.title)
            // add close button to modal
            .append("<button type=\"button\" class=\"close\" data-dismiss=\"modal\">&times;</button>");
            
            $("div.modal-body").text(session.description);
            
            // show modal
            $("#sessionModal").modal();
        }
    </script>

<!-- Modal -->
<div class="modal fade" id="sessionModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div id="calendar"></div>
